name: Build & Deploy to Homelab and Google Cloud

on:
  push:
    branches:
      - main

env:
  DOCKERFILE_PATH: Dockerfile
  GHCR_IMAGE_NAME: ghcr.io/enucatl/crabberbot
  GCP_REGION: europe-west1
  GCP_ARTIFACT_REGISTRY_REPO: crabberbot-repo
  GCP_CLOUD_RUN_SERVICE: crabberbot

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: 'write' # Required for authenticating to Google Cloud

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Get CARGO_PACKAGE_VERSION from git
        id: get_version
        run: |
          VERSION=$(git describe --long | sed 's/-/\./')
          echo "Detected CARGO_PACKAGE_VERSION: $VERSION"
          echo "CARGO_PACKAGE_VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Run cargo test
        run: cargo test --verbose

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GCP_REGION }}-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build and push Docker image to both registries
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ env.DOCKERFILE_PATH }}
          push: true
          tags: |
            ${{ env.GHCR_IMAGE_NAME }}:${{ steps.get_version.outputs.CARGO_PACKAGE_VERSION }}
            ${{ env.GHCR_IMAGE_NAME }}:latest
            ${{ env.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.GCP_ARTIFACT_REGISTRY_REPO }}/crabberbot:${{ steps.get_version.outputs.CARGO_PACKAGE_VERSION }}
            ${{ env.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.GCP_ARTIFACT_REGISTRY_REPO }}/crabberbot:latest
          build-args: |
            CARGO_PACKAGE_VERSION=${{ steps.get_version.outputs.CARGO_PACKAGE_VERSION }}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.GCP_CLOUD_RUN_SERVICE }}
          region: ${{ env.GCP_REGION }}
          image: ${{ env.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.GCP_ARTIFACT_REGISTRY_REPO }}/crabberbot:${{ steps.get_version.outputs.CARGO_PACKAGE_VERSION }}
      
      - name: Trigger Portainer Redeploy
        if: success()
        run: curl -X POST ${{ secrets.PORTAINER_WEBHOOK_URL }}
